*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.question__info h2{
  line-height: 50px;
  margin-top: 0px;
}
.question__info p {
  line-height: 15px;
}
.kengash {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 100px;
}

.container {
	/* max-width: 1340px; */
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.content1__paragrph {
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  color: #FF3E41;

}

.content1 {
  width: 100%;
  padding-top: 98px;
  padding-bottom: 10px;

}
.section_flex_bottom{

  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between !important ;
}
.back{
  width: 100%;
  padding-top: 40px;

  background-color: rgba(245, 247, 249, 1);
}
.white_back{
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding-bottom: 0px;
  margin-bottom: 90px;
}

.item__text {
  padding-top: 12px;
  padding-bottom: 10px;
}

.item_boshqaruv {
  display: flex;
  gap: 40px;
  flex-direction: column;
  box-shadow: none !important;
  padding-top: 30px;
  padding-bottom: 50px;
}

.titlee {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 1150px;

}
.titlee img{
  width: 60px;
  height: 60px;
}

.item__paragrph {
font-weight: 400;
font-size: 20px;
line-height: 1;
color: #231F20;
}
.item__text {
font-weight: 400;
font-size: 27px;
line-height: 32px;
color: #575455;
}
.title_item2{
  width: 300px;
}

.kengash_buttons button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
  display: none;

}
.kengash_buttons button:hover{
  color: #FAFAFE;
  background-color: #FF3E41;
}

.fish_bottom_card_wrapper{
  width: 100%;
  display: flex;
}

.fish_flex_column{
  width: 648px;
  height:472px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.kengash_buttons{
  width: 88px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.fish_flex_column h1{
  font-size: 56px;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2%;

}
.border_left_wrapper{
  padding: 17px;
  width: 648px;
  height: 192px;
  border-left: 2px solid rgba(255, 62, 65, 1);
}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(87, 84, 85, 1);

}
.border_left_wrapper img{
  width: 48px;
  height: 48px;
  margin-top: 16px;
}
.kengash_buttons_bottom{
  width: 132px;
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.kengash_buttons_bottom button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 21px;
  background-color: #FF3E41;
  color: rgba(255, 255, 255, 1);
  border: none;
}
.kengash_active{
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
}
.gray_background{
  width: 536px;
  height: 536px;
  border-radius: 26px;
  background-color: rgba(239, 239, 239, 1);
}

.question_wrapper_bg{
  margin-top: 20px;
}


@media only screen and (max-width: 1325px){
.item_boshqaruv{
  padding-left: 50px;
}
.titlee{
  width: 1000px ;



}
.item__text{
  font-size: 23px;
}


.fish_bottom_card_wrapper{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.fish_flex_column{
  width: 600px;
  height:422px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.kengash_buttons{
  width: 88px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.fish_flex_column h1{
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -2%;

}
.border_left_wrapper{
  padding: 17px;
  width: 530px;
  height: 192px;
  border-left: 2px solid rgba(255, 62, 65, 1);
}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;

}
.border_left_wrapper img{
  width: 48px;
  height: 48px;
  margin-top: 16px;
}
.kengash_buttons_bottom{
  width: 132px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.kengash_buttons_bottom button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 21px;
  background-color: #FF3E41;
  color: rgba(255, 255, 255, 1);
  border: none;
}
.kengash_active{
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
}
.gray_background{
  width: 460px;
  height: 425px;
  border-radius: 26px;
  background-color: rgba(239, 239, 239, 1);
}


}

@media only screen and (max-width: 1150px){
  .content1__paragrph {
  font-weight: 600;
  font-size: 48px;

}






.fish_bottom_card_wrapper{
  width: 900px;
}


.gray_background{
  height: 400px;
}
}
@media only screen and (max-width: 1095px){
  .item_boshqaruv{
    padding-top: 10px;
    gap: 15px;

  }
  .titlee{
    width: 860px;
    padding-left: 0;
    gap: 15px;

  }
  .item__text{
    font-size: 17px;
    line-height: 30px;
  }
  .titlee img{
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 930px){

  .titlee{
    width: 735px;
    padding-left: 0;

  }
  .item__text{
    font-size: 15px;
  }

.fish_bottom_card_wrapper{
  width: 770px;
}
.fish_flex_column{
  width: 390px;
  height: 400px;
}
.fish_flex_column h1{
  font-size: 35px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -2%;

}
.border_left_wrapper{
  padding: 10px;
  width: 400px;
  height: 175px;
  border-left: 2px solid rgba(255, 62, 65, 1);

}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;

}
.border_left_wrapper img{
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.kengash_buttons_bottom{
  width: 115px;
  height: 60px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.kengash_buttons_bottom button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 21px;
  background-color: #FF3E41;
  color: rgba(255, 255, 255, 1);
  border: none;
}
.kengash_active{
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
}
.gray_background{
  width: 350px;
  height: 350px;
  border-radius: 26px;
  background-color: rgba(239, 239, 239, 1);
}

.content1{
  padding-top: 20px;
  padding-bottom: 0px;
  align-items: center;
}


  .content1__paragrph {
  font-weight: 600;
  font-size: 32px;
  margin-left: 20px;

}



}


@media only screen and (max-width: 830px){
  .item_boshqaruv{
    padding-top: 10px;
    gap: 15px;
    padding-left: 20px;

  }
  .titlee{
    width: 678px;
    padding-left: 0;
    gap: 15px;

  }
  .item__text{
    font-size: 14px;
    line-height: 30px;
  }
  .titlee img{
    width: 40px;
    height: 40px;
  }
  .fish_bottom_card_wrapper{
  width: 600px;
}
.fish_flex_column{
  width: 290px;
  height: 260px;
}
.fish_flex_column h1{
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -2%;

}
.border_left_wrapper{
  padding: 5px;
  width: 290px;
  height: 125px;
  border-left: 2px solid rgba(255, 62, 65, 1);

}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0%;

}
.border_left_wrapper img{
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.kengash_buttons_bottom{
  width: 70px;
  height: 40px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.kengash_buttons_bottom button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 10px;
  background-color: #FF3E41;
  color: rgba(255, 255, 255, 1);
  border: none;
}
.kengash_active{
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
}
.gray_background{
  width: 280px;
  height: 280px;
  border-radius: 26px;
  background-color: rgba(239, 239, 239, 1);
}



}



@media only screen and (max-width: 720px) {
.back{
  padding-top: 20px;
  padding-bottom: 0px;
}
  .item_boshqaruv{
    padding-bottom: 10px;
    padding-top: 0px;
    gap: 10px;
    padding-left: 10px;

  }
  .titlee{
    width: 580px;
    padding-left: 0;
    gap: 10px;

  }
  .item__text{
    font-size: 12px;
    line-height: 20px;
  }
  .titlee img{
    width: 30px;
    height: 30px;
  }

}

@media only screen and (max-width:  620px){

.back{
  padding-top: 20px;
  padding-bottom: 0px;
}
  .item_boshqaruv{
    padding-bottom: 10px;
    padding-top: 0px;
    gap: 10px;
    padding-left: 10px;

  }
  .titlee{
    width: 400px;
    padding-left: 0;
    gap: 10px;

  }
  .item__text{
    font-size: 14px;
    line-height: 20px;
  }
  .titlee img{
    width: 40px;
    height: 40px;
  }
  /* .kengash {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 100px;
}

.container {
	max-width: 1340px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
} */



.kengash_buttons button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
  justify-content: center;
  align-items: center;
  display: flex;


}


.fish_bottom_card_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fish_flex_column{
  width: 450px;
  height:300px;
  padding-top: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 2;

}
.kengash_buttons{
  width: 88px;
  height: 40px;
  margin-top: 40px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;

}
.fish_flex_column h1{
  /* margin-top: 40px; */
  font-size: 30px !important;
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  letter-spacing: -2%;
  width: 400px;

}
.border_left_wrapper{
  padding: 17px;
  width: 100%;
  height: 160px;
  border-left: 2px solid rgba(255, 62, 65, 1);
}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(87, 84, 85, 1);

}

.border_left_wrapper img{
  width: 30px;
  height: 30px;
  margin-top: 16px;
}
.kengash_buttons_bottom{
  width: 132px;
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  display: none;
}
.kengash_buttons_bottom button{
  display: none ;
}
.gray_background{
  order: 1;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}


}

@media only screen and (max-width: 485px){
.content1__paragrph{
  font-size: 24px;
}
.back{
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 10;
}
  .item_boshqaruv{
    padding-bottom: 10px;
    padding-top: 0px;
    gap: 10px;
    padding-left: 0px;

  }
  .titlee{
    width: 320px;
    padding-left: 0;
    gap: 10px;

  }
  .item__text{
    font-size: 12px;
    line-height: 20px;
  }
  .titlee img{
    width: 35px;
    height: 35px;
  }


.kengash_buttons button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
  justify-content: center;
  align-items: center;
  display: flex;


}


.fish_bottom_card_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fish_flex_column{
  width: 100%;
  height:300px;
  padding-top: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 2;

}

.fish_flex_column h1{
  /* margin-top: 40px; */
  font-size: 28px !important;
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  letter-spacing: -2%;
  width: 100%;

}
.border_left_wrapper{
  padding: 17px;
  width: 100%;
  height: 160px;
  border-left: 2px solid rgba(255, 62, 65, 1);
}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(87, 84, 85, 1);

}

.border_left_wrapper img{
  width: 30px;
  height: 30px;
  margin-top: 16px;
}
.kengash_buttons_bottom{
  width: 132px;
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  display: none;
}
.kengash_buttons_bottom button{
  display: none ;
}
.gray_background{
  order: 1;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
}
@media only screen and (max-width: 395px){
  .content1__paragrph{
    font-size: 20px;
  }
}
@media only screen and (max-width: 350px){
  .content1__paragrph{
  font-size: 20px;
}
.back{
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 0;
}
  .item_boshqaruv{
    padding-bottom: 10px;
    padding-top: 0px;
    gap: 10px;
    padding-left: 0px;

  }
  .titlee{
    width: 290px;
    padding-left: 0;
    gap: 10px;

  }
  .item__text{
    font-size: 10px;
    line-height: 20px;
  }
  .titlee img{
    width: 35px;
    height: 35px;
  }
}