*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mkt_wrapper {
	margin: 0 auto;
	max-width: 1275px;
  padding-bottom: 20px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.mikro_xizmatlar11{
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 20px 20px 20px;
  padding: 40px;
}
.mikro_xizmat_list_first{
  width: 927px;
  height: 88px;
  display: flex;
  border-radius: 20px 20px 0px 0px;
  background-color: #fff;
  margin-top: 80px;
}
.mikro_xizmat_list_first li{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 10px;
  width: 350px;
  font-size: 21px;
  color: rgba(53, 56, 63, 1);


}
.mikro_xizmat_list_first li:last-child{
  background-color: rgba(255, 62, 65, 1);
  border-radius: 20px 20px 0px 0px;
  color: rgba(255, 255, 255, 1);
}
.mikro_xizmatlar_flex h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.mikro_xizmat_list_second{
  max-width: 941px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mikro_xizmat_list_second li{
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(87, 88, 95, 1);

}
.mikro_xizmat_text_wrapper{
  font-size: 24px;
  line-height: 35px;
}



@media only screen and (max-width:1320px){
  .mkt_wrapper{
	height: auto !important;

  }
}
@media only screen and (max-width:1000px){
  .mikro_xizmatlar11{
  width: 100%;
  height: auto;
  padding: 30px;
}
.mikro_xizmat_list_first{
  width: 400px;
  height: 60px;
  display: flex;
  border-radius: 20px 20px 0px 0px;
  background-color: #fff;
}
.mikro_xizmat_list_first li{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  width: 160px;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  color: rgba(53, 56, 63, 1);


}
.mikro_xizmat_list_first li:last-child{
  padding-top: 20px;
}

.mikro_xizmatlar_flex h2{
  font-size: 22px;
  margin-bottom: 20px;
}
.mikro_xizmat_list_second{
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mikro_xizmat_list_second li{
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(87, 88, 95, 1);

}
.question__container h2{
  line-height: 28px !important;
  margin-top: 0 !important;
}
.question__info-text{
  margin-top: 10px;
  width: 250px;
  text-align: start;
  padding-left: 20px;
}
.mikro_xizmat_text_wrapper{
  font-size: 20px;
  line-height: 35px;
}
}


@media only screen and (max-width:445px){

.mikro_xizmat_list_first{
  max-width: 350px;
  height: 60px;
  display: flex;
  border-radius: 20px 20px 0px 0px;
  background-color: #fff;
  margin: 0 auto;
}
.mikro_xizmat_text_wrapper p{
  font-size: 14px;
  line-height: 35px;
}
.mikro_xizmat_text_wrapper h2{
  font-size: 20px;
}
.mikro_xizmat_list_first li{
  padding-top: 12px;
  max-width: 130px;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  color: rgba(53, 56, 63, 1);
  padding-left: 0;
}
.mikro_xizmatlar11{
  max-width: 350px;
  height: auto;
  padding: 30px;
  margin: 0 auto;
  border-radius: 0px 0px 20px 20px;
}

.mikro_xizmatlar_flex h2{
  font-size: 17px;
  margin-bottom: 20px;
}
.mikro_xizmat_list_second{
  max-width: 310px ;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mikro_xizmat_list_second li{
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(87, 88, 95, 1);

}
}

@media only screen and (max-width:385px){
  .mikro_xizmat_list_first li{
    padding-left: 0;
    padding-right: 0;
  }
  .mikro_xizmat_list_first{
    width: 100%;
    padding: 0;
  }
}
