*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container {
	max-width: 1340px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
} */


.page_8_wrapper{
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 520px;

}
.six_section{
  padding: 70px;
}
.six_section h1{
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2%;
  font-family: 'Nunito Sans', sans-serif;
  color: rgba(255, 62, 65, 1);

}
.flex__section{
  width: 895px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  font-family: 'Nunito Sans', sans-serif;

}
.first_text_section{
  margin-left: 15px;
  font-weight: 500;
  font-style: Medium;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0%;

}
.text_fish{
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;

}
.text_week{
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0%;
  color: rgba(87, 88, 95, 1);

}
.clock{
  font-weight: 500;
  font-style: Medium;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0%;
  color: rgba(41, 45, 50, 1);

}
.section_hover{
  margin-top: 16px;
  padding: 20px;
  transition: all 0.4s ease;
  border-radius: 16px;

}
.section_hover:hover{
  box-shadow: 0px 2px 18px 0px rgba(24, 25, 28, 0.1);

}




@media only screen and (max-width: 990px) {

.six_section{
  padding: 70px;
}
.six_section h1{
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -2%;
  font-family: 'Nunito Sans', sans-serif;
  color: rgba(255, 62, 65, 1);

}
.flex__section{
  max-width: 700px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  font-family: 'Nunito Sans', sans-serif;

}
.first_text_section{
  margin-left: 15px;
  font-weight: 500;
  font-style: Medium;
  font-size: 23px;
  line-height: 40px;
  letter-spacing: 0%;

}
.text_fish{
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;

}
.text_week{
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0%;
  color: rgba(87, 88, 95, 1);

}
.clock{
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #292d32;

}
.section_hover{
  margin-top: 16px;
  padding:15px;
  transition: all 0.4s ease;
  border-radius: 16px;
}
.section_hover:hover{
  box-shadow: 0px 2px 18px 0px rgba(24, 25, 28, 0.1);

}
}

@media only screen and (max-width: 780px) {

.six_section{
  padding: 30px;
}
.six_section h1{
  font-weight: 700;
  font-style: Bold;
  font-size: 37px;
  line-height: 60px;
  letter-spacing: -2%;
  font-family: 'Nunito Sans', sans-serif;
  color: rgba(255, 62, 65, 1);

}
.flex__section{
  max-width: 550px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  font-family: 'Nunito Sans', sans-serif;

}
.first_text_section{
  margin-left: 15px;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0%;

}
.text_fish{
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;

}
.text_week{
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0%;
  color: rgba(87, 88, 95, 1);

}
.clock{
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #292d32;

}
.section_hover{
  margin-top: 12px;
  padding:15px;
  transition: all 0.4s ease;
  border-radius: 16px;
}

}

@media only screen and (max-width: 590px) {
  .page_8_wrapper{
    height: 360px;
  }

.question__info{
  width: 300px;
  height: 200px;
}
.six_section{
  padding: 30px;
}
.six_section h1{
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -2%;
  font-family: 'Nunito Sans', sans-serif;
  color: rgba(255, 62, 65, 1);

}
.flex__section{
  max-width: 450px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  font-family: 'Nunito Sans', sans-serif;

}
.first_text_section{
  margin-left: 15px;
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;
  line-height: 40px;
  letter-spacing: 0%;

}
.text_fish{
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0%;

}
.text_week{
  font-weight: 400;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 0%;
  color: rgba(87, 88, 95, 1);

}
.clock{
  font-weight: 500;
  font-style: Medium;
  font-size: 17px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #292d32;

}
.section_hover{
  margin-top: 12px;
  padding:15px;
  transition: all 0.4s ease;
  border-radius: 16px;
  width: 187px;
}

}

@media only screen and (max-width: 486px) {
.question__info p{
    margin-top: 0 !important;
  }
.six_section{
  padding: 20px ;
}
.six_section h1{
  font-size: 21px;
  line-height: 60px;
  letter-spacing: -2%;
  font-family: 'Nunito Sans', sans-serif;
  color: rgba(255, 62, 65, 1);

}
.flex__section{
  max-width: 335px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  font-family: 'Nunito Sans', sans-serif;


}
.first_text_section{
  margin-left: 15px;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0%;

}
.text_fish{
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0%;

}
.text_week{
  font-weight: 400;
  font-size: 12px;
  line-height: 40px;
  letter-spacing: 0%;
  color: rgba(87, 88, 95, 1);

}
.clock{
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0%;
  color: #292d32;

}
.section_hover{
  margin-top: 12px;
  padding:15px;
  transition: all 0.4s ease;
  border-radius: 16px;
  width: 175px;
}

}