*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page9_wrapper_bg{
  width: 100%;
  height: auto;
  padding-top: 93px;
  padding-bottom: 80px;
  background-color: rgba(255, 255, 255, 1);
}
.xamkorlar9_text{
  text-align: center;
}
.xamkorlar9_text h1{
  color: rgba(255, 62, 65, 1);
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2%;

}
.xamkorlar9_text p{
  margin-top: 16px;
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0%;


}
.xamkorlar9_cards_wrapper{
  width: 100%;
  margin-top: 80px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.xamkorlar9_card{
  width: 306px;
  height: 273px;
  padding-top: 20px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}
.xamkorlar9_card p{
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 24px;
  background-color: rgba(255, 246, 249, 1);
  color: rgba(255, 62, 65, 1);
  font-size: 16px;
}

@media only screen and (max-width:1290px){
  .xamkorlar9_cards_wrapper{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .xamkorlar9_card{
  width: 158px;
  height: 150px;
  font-size: 10px;

}
.xamkorlar9_card img{
  width: 112px;
  height: 80px;
}
.xamkorlar9_card p{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 22px;
  background-color: rgba(255, 246, 249, 1);
  color: rgba(255, 62, 65, 1);
  font-size: 12px;
  margin-top: 10px;
}
}
@media only screen and (max-width:765px){
  .xamkorlar9_text h1{
    font-size: 26px;
  }
  .xamkorlar9_text p{
    font-size: 16px;
  }
  .question__info p{
    margin-top: 0 !important;
  }
}
@media only screen and (max-width:515px){
  .xamkorlar9_cards_wrapper{
    margin-top: 10px;
    max-width: 400px;
  }

}
@media only screen and (max-width:360px){
  .xamkorlar9_cards_wrapper{
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}