
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	background-color: #F5F7F9;
}

.container {
	max-width: 1380px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
/* header */

.hero {
max-width: 1380px;
width: 100%;
padding: 40px 30px;
background-color: #F5F7F9;
}

.hero-container {
max-width: 1340px;
width: 100%;
background: #FF3E41;
border-radius: 22px;
display: flex;
align-items: center;
justify-content: space-between;
}

.text-box {
	max-width: 446px;
	width: 100%;
}

.hero__title {
	font-family: "IBM Plex" Serif;
font-weight: 400;
font-style: Regular;
font-size: 42px;
line-height: 44px;
color: #FFFFFF;
}

.hero__text {
	font-family: "IBM Plex" Sans;
font-weight: 400;
font-style: Regular;
font-size: 25px;
line-height: 28px;
color: #FFFFFF;
margin-top: 27px;
}

.hero__img{
width: 552px;
height: 300px;
}

/*section ish  */
.ish{
	width: 100%;
	background-color: #FFF;
}
.ish__container {
	padding-top: 93px;
	padding-bottom: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ish__title {
	font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 56px;
line-height: 60px;
letter-spacing: -2%;
color: #FF3E41;
margin-bottom: 60px;
align-self: start;
}

.ish__card-list {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 14px;
	align-items: center;
	margin-bottom: 58px;
}

.ish__card-item {
max-width:424px;
width: 100%;
height: 190px;
border-radius: 8px;
background: #FFFFFF;
box-shadow: 0px 2px 18px 0px #18191C1A;
padding: 24px;
display: flex;
flex-direction: column;
}

.ish__card-top {
max-width: 376px;
display: flex;
gap: 16px;
margin-bottom: 20px;
}

.card-top-img{
width: 64px;
height: 64px;
}


.ish__card-texts {
max-width: 296px;
}

.ish__card-titles {
display: flex;
gap: 8px;
margin-bottom: 6px;
align-items: center;
}

.ish__card-title {
font-family: Inter;
font-weight: 500;
font-size: 18px;
line-height: 28px;
}
.ish__card-top-btn {
	background: #FFF6F9;
	width: 116px;
	height: 26px;
	border-radius: 52px;
	border: none;
	font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}
.ish__card-bottom {
display: flex;
gap: 11px;
align-items: center;
}
.ish__card-text {
	font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}
.ish__card-bottom-btn {
	width: 376px;
	height:48px;
	border-radius: 30px;
	border: none;
}
.ish__card-bottom-btn:hover{
		background: #FF3E41;
		transition: all 0.9s ease;
}
.ish__card-bottom-btn a {
	font-family: Inter;
font-weight: 600;
font-size: 18px;
line-height: 24px;
text-transform: capitalize;
color: black;
}
.ish__card-bottom-btn a:hover{
	color:#F0F1F2;
}
.next-page-img{
background: #F7F7F7;
width: 48px;
height: 48px;
padding: 12px;
border-radius: 50%;
}
.next-page-img:hover{
background:  #FF3E41;
transition: all 0.9s ease;
}
.next-page {
display: flex;
max-width: 352px;
width: 100%;
align-items: center;
gap:8px;
}
.next-page-btn-list {
	display: flex;
max-width: 240px;
align-items: center;
}
.next-page-item {
	width: 90px;
	height: 38px;
  border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.next-page-item:hover{
background-color: #FF3E41;
color: #FFFFFF;
transition: all 0.9s ease;
}
.ish__wrapper{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* border: 1px solid red; */
}

/* .call {
margin-top: 100px;
margin-bottom: 110px;
background-color: #F5F7F9;
} */
/* .call__container {
	max-width: 1440px;
	width: 100%;
	display: flex;
	background: #FFF;
	height: 306px;
} */
/* .call__text-box {
max-width: 520px;
} */
.call__title {
	font-family: "IBM Plex" Serif;
font-weight: 500;
font-style: Medium;
font-size: 44px;
line-height: 52px;
color: #3F3E42;
margin-bottom: 13px;
}
.call__text {
	color: #57585F;
	font-family: "IBM Plex" Sans;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 28px;
margin-bottom: 18px;
}
.call__btn {
  width: 220px;
	height: 50px;
	border-radius: 30px;
	background: #FF3E41;
	border: none;
}
.call__btn a {
font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #ffffff;
}

/* aside */

.aside {
	background-color: #F5F7F9;
}
.aside__container {
	max-width: 1260px;
	width: 100%;

}
.aside-top {
	max-width: 1213px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.aside__title {
	font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 44px;
line-height: 130%;
letter-spacing: -2%;
}
.aside-list {
	margin-top: 62px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 53px;
}
.aside-item {
	width: 226px;
	height: 272px;
	background-color: #fff;
border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.aside-item-img{
width: 190px;
height: 190px;

}
.aside-title-imgs{
display: flex;
align-items: center;
gap: 20px;
}
.aside-titles-imgs1 {
background: #FFFF;
width: 60px;
height: 60px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.aside-titles-imgs2:hover{
	background: #FF3E41;
	transition: all 0.9s ease;
}
.aside-titles-imgs2{
background: #FFF;
width: 60px;
height: 60px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.aside-titles-imgs1:hover{
background: #FF3E41;
transition: all 0.9s ease;
}


.question_wrapper_bg {
	margin-top: 70px;
	width: 100%;
	height: 275px;
	background-color: rgba(255, 255, 255, 1);

}
.question__img{
	width: 740px;
	height: 275px;
}
.question__container {
	/* background-color: #dfd6d6; */
	font-family: 'Nunito Sans', sans-serif;
	width: 100%;
	max-width: 1380px;
	height: 275px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.question__info h2 {
	font-size: 44px;
	line-height: 52px;
	letter-spacing: 0%;
}
.question__info p {
	font-weight: 600;
	font-size: 17px;
	line-height: 28px;
	letter-spacing: 0%;
	margin-top: 20px;
}


@media screen and (max-width:1270px) {
.ish__card-list{
display: grid;
grid-template-columns: repeat(2,3fr);
}
}
@media screen and  (max-width:950px) {

.hero {
max-width: 700px;
width: 100%;
padding: 40px ;
}
.hero-container {
max-width: 680px;
width: 100%;
}

.text-box {
	max-width: 306px;
	width: 100%;
}
.hero__title {
font-size: 24px;
}
.hero__text {
font-size: 18px;
}
.hero__img{
width: 335px;
height: 168px;
}
.ish__container {
	max-width:780px;
	padding-top: 51px;
	padding-bottom: 41px;
	display: flex;
  /* justify-content: center; */
}
.ish__title {
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 26px;
line-height: 24px;
margin-bottom: 24px;
}

.ish__card-item {
max-width:223px;
width: 100%;
height: 117px;
padding: 8px;
}
.ish__card-top {
max-width: 207px;
gap: 8px;
margin-bottom: 6px;
}
.ish__card-texts {
max-width: 165px;
}
.ish__card-titles {
gap: 8px;
}
.ish__card-title {
font-family: Inter;
font-weight: 500;
font-size: 12px;
}
.ish__card-list{
	justify-content: center;
}
.ish__card-top-btn {
	width: 77px;
	height: 18px;
font-size: 8px;
}
.ish__card-bottom {
gap: 4px;
}
.ish__card-text {
font-size: 8px;
line-height: 10px;
}
.ish__card-bottom-btn {
	width: 207px;
	height:30px;
}
.card-top-img{
width: 34px;
height:34px;
}
.ish__card-bottom-btn a {
line-height: 24px;
font-size: 10px;
}
.ish__title{
margin-left: 50px;
}
}
@media screen and (max-width:1050px){
	.question_wrapper_bg{
		height: auto;
	}
}
@media screen and (max-width:650px) {
.hero-container {
flex-direction: column;
height: 425px;
}
.ish__title{
margin-left: 50px;
}
.text-box {
margin-top: 100px;
}
.ish__container{
	max-width:600px;
}
.next-page{
max-width: 280px;
}
.next-page-btn-list {
max-width: 150px;
}
/* aside */
.aside__container {
	max-width: 1260px;
	width: 100%;

}
.aside-top {
	max-width: 1213px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.aside__title {
	font-family: Nunito Sans;
font-weight: 700;
font-style: Bold;
font-size: 44px;
line-height: 130%;
letter-spacing: -2%;
}
.aside-list {
	margin-top: 62px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 53px;
}
.aside-item {
	width: 226px;
	height: 272px;
	background-color: #fff;
border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.aside-item-img{
width: 190px;
height: 190px;

}
.aside-title-imgs{
display: flex;
align-items: center;
gap: 20px;
}
.aside-titles-imgs1 {
background: #FFFF;
width: 60px;
height: 60px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.aside-titles-imgs2:hover{
	background: #FF3E41;
	transition: all 0.9s ease;
}
.aside-titles-imgs2{
background: #FFF;
width: 60px;
height: 60px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.aside-titles-imgs1:hover{
background: #FF3E41;
transition: all 0.9s ease;
}
}
@media screen and (max-width:500px) {
	
.ish__container {
	max-width:375px;
	padding-top: 30px;
	padding-bottom: 40px;
}
.ish__title {
margin-bottom: 30px;
margin-left: 20px;
}
.ish__card-item {
max-width:335px;
height: 158px;
padding: 10px;

}
.ish__card-list{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.ish__card-top {
max-width: 312px;
gap: 6px;
margin-bottom: 20px;
}
.ish__card-texts {
max-width: 264px;
}
.ish__card-titles {
gap: 8px;
}
.ish__card-title {
font-size: 14px;
}
.ish__card-top-btn {
	width: 120px;
	height: 24px;
font-size: 12px;
}
.ish__card-bottom {
gap: 4px;
}
.ish__card-text {
font-size: 8px;
line-height: 10px;
}
.ish__card-bottom-btn {
	width: 311px;
	height:40px;
}
.card-top-img{
width: 34px;
height:34px;
}
.ish__card-bottom-btn a {
line-height: 24px;
font-size: 10px;
}


}
.next-page{
max-width: 280px;
}
.next-page-btn-list {
max-width: 150px;
}

@media screen and (max-width:375px)  {
.hero {
max-width: 375px;
width: 100%;
padding-bottom: 40px;
padding-left: 20px;
padding-right: 20px;
}
.hero-container {
max-width:335px;
width: 100%;
display: flex;
flex-direction: column;

}
.text-box {
max-width: 200px;
	width: 100%;
}
.hero__title {
font-size: 24px;
}
.hero__text {
font-size: 16px;
}
.hero__img{
width: 250px;
height: 176px;
}

}