*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.yangiliklar_card_wrap15{
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;

}
.yangilik_card_15{
  width: 610px;
  height: 282px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 18px 0px rgba(24, 25, 28, 0.1);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.yangilik_card_15 p:first-child{
  width: 260px;
  height: 64px;
  padding-top: 20px;
  padding-left: 30px;
  background-color: rgba(245, 247, 249, 1);
  color: rgba(53, 56, 63, 1);
  font-size: 18px;
  border-radius: 12px;
}
.yangilik_card_15 p:last-child{
  font-size: 18px;
  color: rgba(41, 45, 50, 1);
  font-weight: 400;
}
.yangilik_card_15 button{
  width: 267px;
  height: 64px;
  border: none;
  background-color: rgba(255, 62, 65, 1);
  color: aliceblue;
  border-radius: 30px;
  font-size: 20px;
}

@media only screen and (max-width:1280px){
.yangiliklar_card_wrap15{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
  .yangilik_card_15{
    width: 510px;
    height: 282px;
}

.yangilik_card_15 button{
    width: 240px;
    height: 50px;
    font-size: 18px;
}
}

@media only screen and (max-width:1075px){
.yangiliklar_card_wrap15{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
  .yangilik_card_15{
    width: 410px;
    height: 282px;
}
.yangilik_card_15 p{
  font-size: 14px;
}

.yangilik_card_15 button{
    width: 220px;
    height: 40px;
    font-size: 14px;
}
.yangilik_card_15 p:first-child{
  width: 220px;
  height: 50px;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 16px;
}
}

@media only screen and (max-width:875px){
.yangiliklar_card_wrap15{
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
  .yangilik_card_15{
    width: 340px;
    height: 252px;
}
.yangilik_card_15 p{
  font-size: 14px;
}

.yangilik_card_15 button{
    width: 220px;
    height: 40px;
    font-size: 14px;
}
.yangilik_card_15 p:first-child{
  width: 220px;
  height: 50px;
  padding-top: 15px;
  padding-left: 30px;
  font-size: 16px;
}
}
@media only screen and (max-width:875px){
  .yangiliklar_card_wrap15{
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .yangilik_card_15{
    width: 100%;
    height: 252px;
}
}
@media only screen and (max-width:450px){
  .yangilik_card_15{
    width: 100%;
    height: 222px;
}
.yangilik_card_15 p{
  font-size: 10px;
}
}