*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kengash {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 100px;
}

.container {
	max-width: 1340px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.content1__paragrph {
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  color: #FF3E41;

}

.content1 {
  width: 100%;
  padding-top: 98px;
  padding-bottom: 10px;

}
.section_flex_bottom{

  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between !important ;
}
.back{
  width: 100%;
  padding-top: 40px;
  background-color: rgba(245, 247, 249, 1);
}
.white_back{
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.item__text {
  padding-top: 12px;
  padding-bottom: 38px;
}

.item__kuzatuv {
  display: flex;
  gap: 75px;
  /* box-shadow: none; */
}

.title__kuzatuv {
  display: flex;
  align-items: start;
  gap: 24px;
  width: 360px;
}
.title__kuzatuv img{
  width: 60px;
  height: 60px;
}

.item__paragrph {
font-weight: 400;
font-size: 20px;
line-height: 1;
color: #231F20;
}
.item__text {
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #575455;
}
.title_item2{
  width: 300px;
}

.kengash_buttons button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
  display: none;

}
.kengash_buttons button:hover{
  color: #FAFAFE;
  background-color: #FF3E41;
}

.fish_bottom_card_wrapper{
  width: 100%;
  display: flex;
}

.fish_flex_column{
  width: 648px;
  height:472px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.kengash_buttons{
  width: 88px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.fish_flex_column h1{
  font-size: 56px;
  font-weight: 600;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -2%;

}
.border_left_wrapper{
  padding: 17px;
  width: 648px;
  height: 192px;
  border-left: 2px solid rgba(255, 62, 65, 1);
}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(87, 84, 85, 1);

}
.border_left_wrapper img{
  width: 48px;
  height: 48px;
  margin-top: 16px;
}
.kengash_buttons_bottom{
  width: 132px;
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.kengash_buttons_bottom button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 21px;
  background-color: #FF3E41;
  color: rgba(255, 255, 255, 1);
  border: none;
}
.kengash_active{
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
}
.gray_background{
  width: 536px;
  height: 536px;
  border-radius: 26px;
  background-color: rgba(239, 239, 239, 1);
}

.question_wrapper_bg{
  margin-top: 20px;
}


@media only screen and (max-width: 1325px){
  .content1__paragrph {
  font-weight: 600;
  font-size: 53px;

}



.item__text {
  padding-top: 12px;
  padding-bottom: 38px;
}

.item__kuzatuv {
  display: flex;
  gap: 30px;
  width: 1080px;
  margin: 0 auto;
}

.title__kuzatuv {
  display: flex;
  align-items: start;
  gap: 24px;
  width: 360px;
}
.title__kuzatuv img{
  width: 50px;
  height: 50px;
}
.title_item2{
  width: 280px;
}

.item__paragrph {
font-weight: 400;
font-size: 18px;
line-height: 1;
color: #231F20;
}
.item__text {
font-weight: 400;
font-size: 14px ;
line-height: 32px;
color: #575455;
}

.fish_bottom_card_wrapper{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.fish_flex_column{
  width: 600px;
  height:422px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.kengash_buttons{
  width: 88px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.fish_flex_column h1{
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -2%;

}
.border_left_wrapper{
  padding: 17px;
  width: 530px;
  height: 192px;
  border-left: 2px solid rgba(255, 62, 65, 1);
}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;

}
.border_left_wrapper img{
  width: 48px;
  height: 48px;
  margin-top: 16px;
}
.kengash_buttons_bottom{
  width: 132px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.kengash_buttons_bottom button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 21px;
  background-color: #FF3E41;
  color: rgba(255, 255, 255, 1);
  border: none;
}
.kengash_active{
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
}
.gray_background{
  width: 460px;
  height: 425px;
  border-radius: 26px;
  background-color: rgba(239, 239, 239, 1);
}


}

@media only screen and (max-width: 1150px){
  .content1__paragrph {
  font-weight: 600;
  font-size: 48px;

}

.item__text {
  padding-top: 20px;
  padding-bottom: 38px;
  margin-left: 0px ;
}

.item__kuzatuv {
  display: flex;
  max-width: 900px;
  padding-top: 10px;
}

.title__kuzatuv {
  display: flex;
  align-items: start;
  gap: 10px;
  width: 370px;
  height: 200px;
}
.title__kuzatuv img{
  width: 35px;
  height: 35px;
  margin-top: 5px;
}
.title_item2{
  width: 280px;
}

.item__paragrph {
font-weight: 400;
font-size: 18px;
line-height: 0;
color: #231F20;
}
.item__text {
font-weight: 400;
font-size: 16px ;
line-height: 20px;
color: #575455;
}



.fish_bottom_card_wrapper{
  width: 900px;
}


.gray_background{
  height: 400px;
}
}

@media only screen and (max-width: 930px){

.fish_bottom_card_wrapper{
  width: 770px;
}
.fish_flex_column{
  width: 390px;
  height: 400px;
}
.fish_flex_column h1{
  font-size: 35px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -2%;

}
.border_left_wrapper{
  padding: 10px;
  width: 400px;
  height: 175px;
  border-left: 2px solid rgba(255, 62, 65, 1);

}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;

}
.border_left_wrapper img{
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.kengash_buttons_bottom{
  width: 115px;
  height: 60px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.kengash_buttons_bottom button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 21px;
  background-color: #FF3E41;
  color: rgba(255, 255, 255, 1);
  border: none;
}
.kengash_active{
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
}
.gray_background{
  width: 350px;
  height: 350px;
  border-radius: 26px;
  background-color: rgba(239, 239, 239, 1);
}

.content1{
  padding-top: 20px;
  padding-bottom: 0px;
  align-items: center;
}
.back{
  padding-top: 50px;
  height: 160px;
}

  .content1__paragrph {
  font-weight: 600;
  font-size: 32px;
  margin-left: 20px;

}


.item__text {
  padding-top: 20px;
  padding-bottom: 38px;
}

.item__kuzatuv {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
}

.title__kuzatuv {
  display: flex;
  align-items: start;
  gap: 10px;
  width: 220px;
  height: 150px;
}
.title__kuzatuv img{
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.title_item2{
  width: 280px;
}

.item__paragrph {
font-weight: 400;
font-size: 12px;
line-height: 0;
color: #231F20;
}
.item__text {
font-weight: 400;
font-size: 10px ;
line-height: 20px;
color: #575455;
}

}


@media only screen and (max-width: 830px){
  .fish_bottom_card_wrapper{
  width: 600px;
}
.fish_flex_column{
  width: 290px;
  height: 260px;
}
.fish_flex_column h1{
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -2%;

}
.border_left_wrapper{
  padding: 5px;
  width: 290px;
  height: 125px;
  border-left: 2px solid rgba(255, 62, 65, 1);

}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0%;

}
.border_left_wrapper img{
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.kengash_buttons_bottom{
  width: 70px;
  height: 40px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.kengash_buttons_bottom button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 10px;
  background-color: #FF3E41;
  color: rgba(255, 255, 255, 1);
  border: none;
}
.kengash_active{
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
}
.gray_background{
  width: 280px;
  height: 280px;
  border-radius: 26px;
  background-color: rgba(239, 239, 239, 1);
}



}



@media only screen and (max-width: 720px) {


.content1{
  padding-top: 20px;
  padding-bottom: 0px;
  align-items: center;
}
.back{
  padding-top: 50px;
  height: 160px;
}

  .content1__paragrph {
  font-weight: 600;
  font-size: 32px;
  margin-left: 20px;

}


.item__text {
  padding-top: 10px;
  padding-bottom: 38px;
}

.item__kuzatuv {
  display: flex;
  max-width: 580px;
  margin: 0 auto;
  padding: 0;
}

.title__kuzatuv {
  display: flex;
  align-items: start;
  gap: 10px;
  width: 220px;
  height: 150px;
}
.title__kuzatuv img{
  width: 25px;
  height: 25px;
  margin-top: 5px;
}
.title_item2{
  width: 200px;
}

.item__paragrph {
font-weight: 400;
font-size: 12px;
line-height: 0;
color: #231F20;
}
.item__text {
font-weight: 400;
font-size: 10px ;
line-height: 15px;
color: #575455;
}
}

@media only screen and (max-width:  620px){
  /* .kengash {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 100px;
}

.container {
	max-width: 1340px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
} */

.content1__paragrph {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
  color: #FF3E41;

}

.content1 {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;

}
.back{

  background-color: #FAFAFE;
  width: 100%;
  height: 390px;
  padding-top: 30px;

}

.item__text {
  padding-top: 25px;
  padding-bottom: 0px;
}

.item__kuzatuv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 354px;
  gap: 30px;
}

.title__kuzatuv {
  display: flex;
  align-items: start;
  gap: 10px;
  width: 400px;

}
.title__kuzatuv img{
  width: 36px;
  height: 36px;
  margin-top: 0;
}

.item__paragrph {
font-weight: 400;
font-size: 20px;
line-height: 1;
color: #231F20;
}
.item__text {
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #575455;
margin-left: -40px;
}


.kengash_buttons button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
  justify-content: center;
  align-items: center;
  display: flex;


}


.fish_bottom_card_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fish_flex_column{
  width: 450px;
  height:300px;
  padding-top: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 2;

}
.kengash_buttons{
  width: 88px;
  height: 40px;
  margin-top: 40px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;

}
.fish_flex_column h1{
  /* margin-top: 40px; */
  font-size: 30px !important;
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  letter-spacing: -2%;
  width: 400px;

}
.border_left_wrapper{
  padding: 17px;
  width: 100%;
  height: 160px;
  border-left: 2px solid rgba(255, 62, 65, 1);
}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(87, 84, 85, 1);

}

.border_left_wrapper img{
  width: 30px;
  height: 30px;
  margin-top: 16px;
}
.kengash_buttons_bottom{
  width: 132px;
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  display: none;
}
.kengash_buttons_bottom button{
  display: none ;
}
.gray_background{
  order: 1;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}


}

@media only screen and (max-width: 485px){

.content1__paragrph {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
  color: #FF3E41;

}

.content1 {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;

}
.back{

  background-color: #FAFAFE;
  width: 100%;
  height: 390px;
  padding-top: 30px;

}

.item__text {
  padding-top: 25px;
  padding-bottom: 0px;
}

.item__kuzatuv {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 354px;
  gap: 30px;
}

.title__kuzatuv {
  display: flex;
  align-items: start;
  gap: 10px;
  width:100%;

}
.title__kuzatuv img{
  width: 36px;
  height: 36px;
  margin-top: 0;
}

.item__paragrph {
font-weight: 400;
font-size: 20px;
line-height: 1;
color: #231F20;
}
.item__text {
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #575455;
margin-left: -40px;
}


.kengash_buttons button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 12px;
  color: rgba(196, 196, 196, 1);
  background-color: rgba(247, 247, 247, 1);
  justify-content: center;
  align-items: center;
  display: flex;


}


.fish_bottom_card_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fish_flex_column{
  width: 100%;
  height:300px;
  padding-top: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 2;

}

.fish_flex_column h1{
  /* margin-top: 40px; */
  font-size: 30px !important;
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  letter-spacing: -2%;
  width: 100%;

}
.border_left_wrapper{
  padding: 17px;
  width: 100%;
  height: 160px;
  border-left: 2px solid rgba(255, 62, 65, 1);
}
.border_left_wrapper p{
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(87, 84, 85, 1);

}

.border_left_wrapper img{
  width: 30px;
  height: 30px;
  margin-top: 16px;
}
.kengash_buttons_bottom{
  width: 132px;
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  display: none;
}
.kengash_buttons_bottom button{
  display: none ;
}
.gray_background{
  order: 1;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
}