* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color: #333333;
	background-color: rgba(245, 247, 249, 1);
}
.nav_wrapper_bg {
	width: 100%;
	/* height: 184px; */
	background-color: rgba(255, 255, 255, 1);
	margin: 0 auto;
}
.container {
	max-width: 1340px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}

/* ==== HEADER ==== */

.site-header {
	padding-top: 10px;
	padding-bottom: 6px;
	/* background-color: rgba(245, 247, 249, 1); */
}
.site-header__top {
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.site-header__top-wrapper {
	display: flex;
	align-items: center;
	gap: 4px;
}
.site-header__top-title a{
	color: #fb1816;
}

.site-header__top-title {
	font-size: 18px;
	font-weight: 700;
	color: #fb1816;
}

.site-header__top input[type='text'] {
	flex: 1;
	max-width: 480px;
	height: 44px;
	border: 1px solid #e4e6e8;
	border-radius: 14px;
	padding: 0 13px;
	font-size: 12px;
	outline: none;
	color: #c4c4c4;
	margin: 0 20px;
}
.menu_top{
	display: none;
}
.site-header__top-info {
	display: flex;
	align-items: center;
	gap: 36px;
}

.site-header__top-info-glass {
	width: 28px;
	height: 28px;
	cursor: pointer;
}

.site-header__top-info-location {
	width: 22px;
	height: 22px;
	cursor: pointer;
}
.site-header__top-info-translate {
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-header__top-info-translate-img {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.site-header__top-info-translate {
	display: flex;
	align-items: center;
	gap: 5px;
}

.site-header__top-info-translate h2 {
	font-size: 14px;
	font-weight: 500;
	color: #333333;
}
#languages {
	border: none;
	cursor: pointer;
}

.media {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 44px;
}
.site-header-top-right {
	display: flex;
	align-items: center;
	gap: 18px;
}

.site-header-top-right-call {
	background-color: #fff6f9;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.site-header-top-right-img {
	width: 18px;
	height: 18px;
	display: block;
}

.site-header-top-right-contact-text {
	font-size: 12px;
	color: #5d6c7b;
	font-weight: 600;
	margin-bottom: 4px;
}

.site-header-top-right-contact-title {
	font-size: 16px;
	font-weight: 500;
	color: #35383f;
}
.download {
	display: none;
}

/* .site-header__bottom-list-item:active {
	background-color: #ff3e41;
	color: #ffffff;
	padding: 16px 24px;
	border: none;
	border-radius: 18px;
	font-size: 14px;
	font-weight: 700;
	display: flex;
	border: 2px solid #ff3e41;
	align-items: center;
	gap: 6px;
	cursor: pointer;
	transition: background-color 0.3s ease;
} */

.site-header__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;
}

.site-header__bottom-btn {
	background-color: #ff3e41;
	color: #ffffff;
	padding: 16px 24px;
	border: none;
	border-radius: 18px;
	font-size: 14px;
	font-weight: 700;
	display: flex;
	border: 2px solid #ff3e41;
	align-items: center;
	gap: 6px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	position: relative;
}

.site-header__bottom-btn:hover {
	background-color: #fff;
	color: #ff3e41;
}


.site-header__bottom-btn-img {
	width: 16px;
	height: 17px;
}

.site-header__bottom-list {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 43px;
}

.site-header__bottom-list-item {
	display: flex;
	align-items: center;
	gap: 4px;
	cursor: pointer;
	transition: color 0.3s ease;
}
.site-header__bottom-list-item a {
	font-size: 16px;
	font-weight: 500;
	color: #5d6c7b;
	text-decoration: none;
}

.site-header__bottom-list-item a:hover {
	color: #d51f1f;
}

.site-header__bottom-list-item-img {
	width: 18px;
	height: 18px;
	display: block;
}

.site-header__bottom-right {
	display: flex;
	align-items: center;
	gap: 15px;
}

.site-header__bottom-right-btn1 {
	padding: 17px 35px;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1%;
	color: #ff3e41;
	border-radius: 18px;
	border: 2px solid #ff3e41;
	background-color: #ffffff;
	cursor: pointer;
	transition: all 0.3s ease;
}
.site-header__bottom-right-btn1 a{
	color: #ff3e41;
}
.site-header__bottom-right-btn1:hover  {
	background-color: #ff3e41;
	color: #fff;
}
.site-header__bottom-right-btn1:hover a{
	color: white;
}
.site-header__bottom-right-btn2 {
	border-radius: 18px;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1%;
	padding: 17px 20px;
	background-color: #ff3e41;
	border: 2px solid #d51f1f;
	color: #ffffff;
	cursor: pointer;
	transition: all 0.3s ease;
}
.site-header__bottom-right-btn2 a{
	color: white;
}

.site-header__bottom-right-btn2:hover {
	background-color: #fff;
	color: #ff3e41;
}
.site-header__bottom-right-btn2:hover a{
	color: #ff3e41;
}
.dropdown_wrapper{
	top: 53px;
	left: -2px;
	position: absolute;
	padding: 20px;
	width: 280px;
	height: 285px;
	border: 2px solid rgba(0, 0, 0, 0.094);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 5px;
	display: none;
	z-index: 1000;
	text-align: start;
	color: black;
	transition: all 0.3s ease;
}

.dropdown_wrapper li{
	margin-bottom: 10px;
}
.dropdown_wrapper li a{
	color: #5d6c7b;
	transition: all 0.1s ease;
}
.dropdown_wrapper li a:hover{
	color: #e9303a;

}



.drob_hover2, .drob_hover3,.drob_hover4,.drob_hover5{
	position: relative;
}


/* hover nav start */


.site-header__bottom-btn:hover .dropdown_wrapper {
    display: block;
}
.dropdown_wrapper2{
	top: 22px;
	left: -20px;
	position: absolute;
	padding: 20px;
	width: 280px;
	height: 125px;
	border: 2px solid rgba(0, 0, 0, 0.094);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 5px;
	display: none;
	z-index: 1000;
	text-align: start;
	color: black;
	transition: all 0.3s ease;

}
.drob_hover2:hover .dropdown_wrapper2{
	display: block;

}
.dropdown_wrapper li{
	margin-bottom: 10px;
}
.dropdown_wrapper2 li{
	margin-top: 5px;
}
.dropdown_wrapper3{
	top: 22px;
	left: -20px;
	position: absolute;
	padding: 15px;
	padding-left: 20px;
	width: 280px;
	height: 210px;
	border: 2px solid rgba(0, 0, 0, 0.094);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 5px;
	display: none;
	z-index: 1000;
	text-align: start;
	color: black;
	transition: all 0.3s ease;

}
.drob_hover3:hover .dropdown_wrapper3{
	display: block;

}
.dropdown_wrapper3 li{
	margin-top: 5px;
}


.dropdown_wrapper4{
	top: 22px;
	left: -20px;
	position: absolute;
	padding: 15px;
	padding-left: 20px;
	width: 295px;
	height: 240px;
	border: 2px solid rgba(0, 0, 0, 0.094);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 5px;
	display: none;
	z-index: 1000;
	text-align: start;
	color: black;
	transition: all 0.3s ease;

}
.drob_hover4:hover .dropdown_wrapper4{
	display: block;

}
.dropdown_wrapper4 li{
	margin-top: 5px;
}

.dropdown_wrapper5{
	top: 22px;
	left: -20px;
	position: absolute;
	padding: 15px;
	padding-left: 20px;
	width: 280px;
	height: 160px;
	border: 2px solid rgba(0, 0, 0, 0.094);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 5px;
	display: none;
	z-index: 1000;
	text-align: start;
	color: black;
	transition: all 0.3s ease;

}
.dropdown_wrapper5 li{
	margin-top: 5px;
}

.drob_hover5:hover .dropdown_wrapper5{
	display: block;

}

/* hover nav end */

/* Main style start */
.site__main {
	margin-top: 30px;
	max-width: 1300px;
	height: 500px;
	background-image: url('../images/header/header_bg.png');
	border-radius: 22px;
	color: rgba(255, 255, 255, 1);
	background-repeat: no-repeat;
	background-size: cover;
}

.main_texts_wrpper {
	width: 443px;
	height: 460px;
	padding-top: 60px;
	margin-left: 70px;
}

.main_texts_wrpper h1 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	font-size: 40px;
	line-height: 55px;
	text-transform: uppercase;
}
.h1_bottom {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
}
.header_text_p {
	width: 330px;
	margin-top: 30px;
	display: flex;
	align-items: center;
	font-family: 'Nunito Sans', sans-serif;
}

.header_text_p_2 {
	width: 200px;
	margin-top: 30px;
	display: flex;
	align-items: center;
	font-family: 'Nunito Sans', sans-serif;
}
.header_btn {
	width: 250px;
	height: 50px;
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 1);
	color: rgba(255, 62, 65, 1);
	margin-top: 50px;
	font-size: 16px;
}

.header_btn:hover {
	background-color: #fb1816;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
	border: none;
}

.section_kredit {
	width: 1300px;
	height: 712px;
	border-radius: 22px;
	margin-top: 82px;
	background-color: rgb(255, 255, 255);
}
.section_flex_wrapper {
	padding-left: 40px;
	padding-right: 100px;
	justify-content: space-between;
	display: flex;
	width: 1300px;
	height: 245px;
}
.setion_texts h1 {
	margin-top: 40px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	font-size: 44px;
}
.setion_texts p {
	margin-top: 22px;
	font-weight: 500px;
	color: rgba(63, 62, 66, 1);
	font-size: 20px;
}

.btn_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #e4e6e8;
	margin-top: 23px;
	width: 418px;
	height: 64px;
	border-radius: 30px;
}

#btn_active2 {
	width: 200px;
	background-color: rgba(255, 62, 65, 1);
	transition: all 0.3s ease;
	color: #e4e6e8;
}
.btn_wrapper button {
	border: none;
	width: 170px;
	height: 52px;
	border-radius: 30px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
}
.btn_wrapper button:active {
	background-color: rgba(255, 62, 65, 1);
	transition: all 0.3s ease;
	color: #e4e6e8;
}

.section_inuts_wrapper {
	justify-content: space-between;
	display: flex;
	padding: 50px;
	border-radius: 16px;
	margin: 0 auto;
	width: 1248px;
	height: 419px;
	background-color: rgba(245, 247, 249, 1);
}
.inuts_kredit_wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 760px;
	height: 170px;
}
.inuts_kredit_wrap input {
	padding-left: 16px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	line-height: 28px;
	font-size: 18px;
	border: none;
	border-radius: 8px;
	width: 360px;
	height: 64px;
}
.inuts_kredit_wrap select {
	color: rgba(127, 126, 131, 1);
	padding-left: 16px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	line-height: 28px;
	font-size: 18px;
	border: none;
	border-radius: 8px;
	width: 360px;
	height: 64px;
}

.check_text {
	font-family: 'Nunito Sans', sans-serif;
	width: 688px;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0%;
}
.range input {
	border: none;
	background-color: rgba(127, 126, 131, 1);
	color: rgba(127, 126, 131, 1);
	width: 360px;
}
.range .range2 {
	width: 340px;
	word-spacing: 300px;
}
.range p {
	color: rgba(127, 126, 131, 1);
}
.range1,
.range2 {
	width: 340px;
	word-spacing: 255px;
	font-weight: 600;
	font-size: 15px;
	/* line-height: 20px; */
	letter-spacing: 0%;
	font-family: 'Nunito Sans', sans-serif;
	color: rgba(127, 126, 131, 1);
}

.input_range_wrap button {
	width: 360px;
	height: 60px;
	border-radius: 30px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.input_range_wrap button:hover {
	transition: all 0.3s ease;
	background-color: rgba(255, 62, 65, 1);
	color: #ffffff;
}
.input_range_wrap {
	width: 360px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mkt_wrapper {
	margin: 0 auto;
	width: 1275px;
	height: 490px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mkt_card {
	margin-top: 32px;
	width: 620px;
	height: 108px;
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	align-items: center;
	border-radius: 16px;
	-webkit-box-shadow: -1px 0px 18px -1px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: -1px 0px 18px -1px rgba(34, 60, 80, 0.2);
	box-shadow: -1px 0px 18px -1px rgba(34, 60, 80, 0.2);
}

.mkt_card i {
	font-size: 45px;
	margin-left: 24px;
	color: rgba(255, 62, 65, 1);
}

.mkt_card p {
	margin-left: 22px;
	color: rgba(87, 88, 95, 1);
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}
.header_mkt {
	margin-left: 35px;
	color: rgba(35, 31, 32, 1);
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	font-size: 44px;
	line-height: 52px;
	margin-top: 80px;
}
.icon_svg {
	margin-left: 24px;
}

.our_product_wrapper {
	width: 1300px;
	margin-top: 124px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.our_product_wrapper .btn_products {
	width: 378px;
	height: 60px;
	border-radius: 30px;
	background-color: rgba(255, 62, 65, 1);
	color: #ffffff;
	font-family: 700;
	font-size: 16px;
	border: none;
	text-transform: uppercase;
}
.our_products_card {
	margin-top: 50px;
	background-image: url('../images/header/group1.png');
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 580px;
	height: 300px;
	border-radius: 12px;
	background-position: center;
	background-size: cover;
}
.our_products_card h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0%;
	color: rgba(35, 31, 32, 1);
}

.our_products_card h2 i {
	font-size: 30px;
	border-radius: 6px;
	padding-top: 25px;
	text-align: center;
	width: 70px;
	height: 70px;
	background-color: rgba(255, 62, 65, 1);
	color: rgb(255, 255, 255);
}

.our_products_card p {
	color: rgba(87, 88, 95, 1);
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 500;
	font-style: Medium;
	font-size: 20px;
}

.our_products_card button {
	width: 290px;
	height: 50px;
	background-color: rgba(247, 247, 247, 1);
	border: none;
	border-radius: 30px;
	font-weight: 700;
	font-style: Bold;
	font-size: 14px;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: 'Nunito Sans', sans-serif;
	color: #000000;
}
.our_products_card button:hover {
	cursor: pointer;
	background-color: rgba(255, 62, 65, 1);
	color: #fff;
	transition: all 0.3s ease;
}

.kredit_yonalish {
	width: 1300px;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
}
.kredit_yonalish_text {
	margin-top: 94px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.kredit_yonalish_text h1 span{
	color: rgba(255, 62, 65, 1);
}

.kredit_yonalish_text h1 {
	font-weight: 700;
	font-style: Bold;
	font-size: 44px;
}
.kredit_yonalish_text p {
	font-weight: 600;
	font-size: 32px;
	line-height: 44px;
	letter-spacing: 0%;
	text-align: center;
}

.kredit_yonalish_cards {
	width: 300px;
	height: 264px;
}
.kredit_yonalish_cards p {
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0%;
	text-align: center;
	font-family: 'Nunito Sans', sans-serif;
}

.kredit_yonalish_card {
	margin: 0 auto;
	margin-top: 80px;
	width: 1100px;
	height: 644px;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

.question_wrapper_bg {
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
}
.question__container {
	/* background-color: #dfd6d6; */
	font-family: 'Nunito Sans', sans-serif;
	width: 100%;
	max-width: 1140px;
	height: 275px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.question__info h2 {
	font-size: 44px;
	line-height: 52px;
	letter-spacing: 0%;
}
.question__info p {
	font-weight: 600;
	font-size: 17px;
	line-height: 28px;
	letter-spacing: 0%;
	margin-top: 20px;
}
.imortant_container {
	font-family: 'Nunito Sans', sans-serif;
	padding: 50px;
	margin-top: 115px;
	width: 1260px;
	height: 583px;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	justify-content: space-around;
}
.impo_text {
	margin-top: 70px;
	margin-right: 55px;
	padding-left: 50px;
	position: relative;
	width: 550px;
	height: 384px;
	display: flex;
	flex-direction: column;
}
.imortant_container h1 {
	font-weight: 600;
	font-size: 40px;
	line-height: 100%;
	letter-spacing: 0%;
}

.impo_text p {
	margin-left: 40px;
	font-weight: 500;
	font-style: Medium;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0%;
	margin-top: 24px;
}
.impo_text i {
	font-size: 34px;
	color: rgba(255, 62, 65, 1);
}
.check1 {
	position: absolute;
	top: 190px;
	left: 40px;
}
.check2 {
	position: absolute;
	top: 265px;
	left: 40px;
}
.cards_wrapper_impo {
	font-family: 'Nunito Sans', sans-serif;
	width: 600px;
	height: 550px;
}
.card_impo {
	width: 265px;
	height: 225px;
	/* padding: 14px 5px 5px 20px; */
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 16px;
	-webkit-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.cards_wrapper_impo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.date_padding {
	border-radius: 10px;
	color: rgba(255, 62, 65, 1);
	padding: 11px 11px 16px;
	background-color: #ea78781e;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
}
.card_impo p {
	color: rgba(35, 31, 32, 1);
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0%;
	margin-top: 14px;
}
.card_impo button {
	width: 228px;
	height: 40px ;
	margin: 0 auto;
	border-radius: 10px;
	border: none;
	margin-top: 20px;
}
.card_impo button:hover {
	cursor: pointer;
	background-color: rgba(255, 62, 65, 1);
	color: #fff6f9;
	transition: all 0.3s;
}

.text_hamkor h1 {
	font-weight: 700;
	font-style: Bold;
	font-size: 44px;
}
.text_hamkor {
	margin-top: 105px !important;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.buttons_hamkor button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	color: grey;
	background-color: rgb(238, 237, 237);
}
.buttons_hamkor button:hover {
	background-color: rgba(255, 62, 65, 1);
	color: #e4e6e8;
	transition: all 0.3s;
	cursor: pointer;
}
.hamkor__img{
	width: 1260px;
	height: 282px;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.hamkor_img {
	margin-top: 61px;
	margin-right: 45px;
}
.questions_flex {
	margin-top: 100px;
	padding-top: 130px;
	width: 1200px;
	display: flex;
	justify-content: space-between;
}

.savollar_wrapper {
	width: 100%;
	max-width: 1550px;
	height: 826px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/footer/contacts_question.png');
}


.questions_flex_wrapper {
	width: 448px;
	height: 533px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.questions_tx {
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	color: rgba(255, 62, 65, 1);
	margin-left: 25px;
	width: 119px;
	height: 37px;
	background-color: #a83f3f23;
	text-align: center;
	padding-top: 10px;
	border-radius: 100px;
}
.questions_flex_wrapper h1 {
	font-weight: 700;
	font-style: Bold;
	font-size: 37px;
	line-height: 120%;
	letter-spacing: -2%;
}
.questions_tx2 {
	font-weight: 600;
	font-style: Bold;
	font-size: 19px;
	line-height: 145%;
	letter-spacing: 0%;
	color: rgba(10, 21, 25, 0.7);
}

.accordion {
	width: 100%;
	max-width: 600px;
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.item {
	background: #f7f9fb;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.item input {
	display: none;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 18px 20px;
	font-weight: 600;
	cursor: pointer;
	position: relative;
}

.number {
	background-color: #e9303a;
	color: #fff;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	margin-right: 10px;
	flex-shrink: 0;
}

.arrow {
	border: solid #888;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 5px;
	transform: rotate(45deg);
	transition: transform 0.3s ease;
}

.content {
	padding: 0 50px 15px 56px;
	font-size: 15px;
	color: #555;
	line-height: 1.5;
	display: none;
}

.item input:checked ~ .content {
	display: block;
}

.item input:checked + .title .arrow {
	transform: rotate(-135deg);
}

.item input:active {
	transition: all 0.5s;
}

.currency-wrapper {
	position: relative;
	display: inline-block;
}

.currency-label p {
	color: #e9303a;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	margin-left: 20px;
	width: 220px;
	height: 37px;
	background-color: #a83f3f20;
	text-align: center;
	padding-top: 10px;
	border-radius: 100px;
	margin-bottom: 29px;
}
.currency-label h1 {
	font-weight: 700;
	font-style: Bold;
	font-size: 38px;
	line-height: 120%;
	letter-spacing: -2%;
}

.currency-box {
	border-radius: 20px;
	padding: 30px;
	width: 548px;
	height: 510px;
}

.currency-item {
	background: #f6f8fa;
	border-radius: 16px;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
	transition: all 0.2s ease;
}

.currency-item:hover {
	background: #eef2f6;
}
.currency-item span {
	font-weight: 700;
	font-style: Bold;
	font-size: 26px;
	line-height: 120%;
	letter-spacing: 0%;
}
.left {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 700;
}

.left img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

.value {
	font-weight: 600;
	color: #222;
	margin-right: 8px;
}

.fa-arrow-trend-up {
	font-size: 16px;
	color: #666;
}

.currency-info {
	font-weight: 600;
	font-size: 17px;
	line-height: 145%;
	letter-spacing: 0%;
}

.boglaning_wrapper {
	width: 100%;
	/* max-width: 1550px; */
	margin: 0 auto;
	height: 130px;
	background-color: rgba(255, 62, 65, 1);
}
.boglaning_flex {
	display: flex;
	align-items: center;
	height: 130px;
	justify-content: space-between;
}
.boglaning_flex h1 {
	font-weight: 700;
	font-style: Bold;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	text-transform: uppercase;
	color: #eef2f6;
}
.boglaning_flex input {
	width: 390px;
	height: 50px;
	border-radius: 20px;
	border: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	padding-left: 24px;
	margin-left: 155px;
	background-color: rgba(255, 255, 255, 1);
}
button {
	cursor: pointer;
}
.boglaning_flex button {
	padding: 17px 73px;
	border-radius: 22px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
	font-weight: 700;
	font-style: Bold;
	font-size: 16px;
	text-transform: uppercase;
	color: rgba(255, 62, 65, 1);
	cursor: pointer;
}
footer {
	width: 100%;
	/* max-width: 1550px; */

	height: 850px;
	padding-top: 69px;
}
.footer_logo_wrapper {
	display: flex;
	justify-content: space-between;
}
.footer_logo_wrapper i {
	font-size: 40px;
	color: rgba(255, 62, 65, 0.862);
	cursor: pointer;
}

.footer {
	padding-top: 64px;
	padding-bottom: 37px;
}
.footer__container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.footer__top {
	border-bottom: 1px solid #76787733;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 34px;
	margin-bottom: 40px;
}
.footer__top-logo {
	width: 190px;
	height: 34px;
}
.footer__top-info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 14px;
}
.footer__top-info-link {
	background-color: #ff3e411a;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 44px;
	width: 44px;
	border-radius: 12px;
	cursor: pointer;
	transition: all 0.4s ease;
}
.footer__top-info-link:hover {
	background-color: rgb(244, 148, 148);
}
.footer__top-info-link-a-icon {
	width: 20px;
	height: 20px;
}
/* Footer bottom */
.footer__bottom-top {
	display: flex;
	justify-content: space-between;
}
.footer__bottom-top-first {
	max-width: 345px;
	width: 100%;
}
.footer__bottom-top-first-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0%;
	margin-bottom: 16px;
	color: #35383f;
	position: relative; /* pseudo-element uchun kerak */
	display: inline-block; /* matn uzunligicha bo‘lsin */
}

.footer__bottom-top-first-title::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px; /* matn ostida joylashishi */
	width: 0%;
	height: 2px;
	background-color: red;
	transition: width 0.3s ease;
}

.footer__bottom-top-first-title:hover {
	color: red;
}

.footer__bottom-top-first-title:hover::after {
	width: 100%;
}
.footer__bottom-top-first-info {
	display: flex;
	justify-content: center;
}
.footer__bottom-top-first-list {
	margin-right: 46px;
}
.footer__bottom-top-first-item {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0%;
	margin-bottom: 12px;
}
.footer__bottom-top-first-a {
	color: #35383f;
	transition: all 0.4s ease;
}
.footer__bottom-top-first-a:hover {
	color: #d51f1f;
}
.footer__bottom-top-second {
	margin-right: 140px;
	max-width: 223px;
	width: 100%;
}
.footer__bottom-top-second-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	margin-bottom: 10px;
	color: #35383f;
	position: relative; /* pseudo-element uchun kerak */
	display: inline-block; /* matn uzunligicha bo‘lsin */
}

.footer__bottom-top-second-title::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px; /* matn ostida joylashishi */
	width: 0%;
	height: 2px;
	background-color: red;
	transition: width 0.3s ease;
}

.footer__bottom-top-second-title:hover {
	color: red;
}

.footer__bottom-top-second-title:hover::after {
	width: 100%;
}
.footer__bottom-top-second-list {
	max-width: 182px;
	width: 100%;
}
.footer__bottom-top-second-item {
	margin-bottom: 12px;
}
.footer__bottom-top-second-a {
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #35383f;
	transition: all 0.4s ease;
	display: flex;
	align-items: center;
}
.footer__bottom-top-second-a:hover {
	color: #d51f1f;
}
.footer__bottom-top-first-a-img {
	width: 20px;
	height: 20px;
	margin-right: 12px;
}
.footer__bottom-top-third {
	max-width: 370px;
	width: 100%;
}
.footer__bottom-top-third-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0%;
	margin-bottom: 14px;
	color: #35383f;
	position: relative;
	display: inline-block;
}

.footer__bottom-top-third-title::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: red;
	transition: width 0.3s ease;
}

.footer__bottom-top-third-title:hover {
	color: red;
}

.footer__bottom-top-third-title:hover::after {
	width: 100%;
}
.footer__bottom-top-thirf-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	margin-bottom: 14px;
	color: #35383f;
}
.footer__bottom-top-thirf-img {
	width: 234px;
	height: 132px;
}
.footer__bottom-middle {
	margin-bottom: 29px;
}
.footer__bottom-middle-title1 {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0%;
	margin-bottom: 16px;
}
.footer__bottom-middle-flex {
	display: flex;
	justify-content: center;
}
.footer__bottom-middle-first {
	max-width: 221px;
	width: 100%;
	margin-right: 51px;
}
.footer__bottom-middle-title {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	margin-bottom: 15px;
	position: relative;
	display: inline-block;
}

.footer__bottom-middle-title::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: red;
	transition: width 0.3s ease;
}

.footer__bottom-middle-title:hover {
	color: red;
}

.footer__bottom-middle-title:hover::after {
	width: 100%;
}

.footer__bottom-middle-item {
	font-weight: 400;
	font-size: 16px;
	line-height: 12px;
	letter-spacing: 0%;
	margin-bottom: 22px;
}
.footer__bottom-middle-a {
	color: #35383f;
	transition: all 0.4s ease;
}
.footer__bottom-middle-a:hover {
	color: #d51f1f;
}
.footer__bottom-middle-second {
	max-width: 198px;
	width: 100%;
	margin-right: 58px;
}
.footer__bottom-middle-third {
	max-width: 210px;
	width: 100%;
	margin-right: 47px;
}
.footer__bottom-middle-fourth {
	max-width: 241px;
	width: 100%;
	margin-right: 35px;
}
.footer__bottom-middle-fourth-list {
	max-width: 215px;
	width: 100%;
}
.footer__bottom-middle-fivth {
	max-width: 178px;
	width: 100%;
}
.footer__bottom-middle-fivth-list {
	max-width: 155px;
	width: 100%;
}
.footer__bottom-bottom {
	border-top: 1px solid #76787733;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 32px;
}
.footer__bottom-bottom-a {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	color: #231f20;
	margin-right: 15px;
}
.footer__bottom-bottom-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0%;
	color: #231f20;
}
.footer__flex {
	display: flex;
	justify-content: space-between;
}

/* NAVBAR */
.hamburger_menu {
	display: none;
	background: #fff;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
	position: sticky;
	top: 0;
	z-index: 1000;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	color: #222;
}

.nav-links ul {
	display: flex;
	list-style: none;
	gap: 25px;
}

.nav-links a {
	color: #333;
	font-weight: 500;
	text-decoration: none;
	transition: 0.3s;
}

.nav-links a:hover {
	color: #e9303a;
}

.hamburger {
	flex-direction: column;
	cursor: pointer;
	gap: 5px;
}

.hamburger span {
	width: 25px;
	height: 3px;
	background: #333;
	border-radius: 2px;
}

/* Mobil menyu ochilganda */
.nav-links.active {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	background: #fff;
	padding: 25px 0;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
