.container{
    max-width: 1340px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

ul,ol{
    list-style: none;
}

.navbar_jamiyat{
    width: 250px;
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
}

.nav__list_jamiyat{
    margin-bottom: 140px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: auto;
    padding-left: 0;
}
.nav__item_jamiyat_tuzilma {
    margin: 0 auto;
    width: 300px;
    height: 205px;
    border: 1px solid rgba(228, 229, 232, 1);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
    box-shadow: 0px 2px 18px 0px rgba(24, 25, 28, 0.1);


}
.nav__title_jamiyat1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
    color: black;
}

.nav__title_jamiyat2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #767F8C;
}



.icon__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -2%;
    color: #FF3E41;
    text-align: center;

}
.icon__text {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #292D32;
    text-align: center;
}
.icon__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
/* .icon__item {
    max-width: 306px;
    width: 100%;
    border: 1px solid #E4E5E8;
    border-radius: 12px;
    padding: 20px 20px 20px 20px;
} */
.icon__item-title {
    border: 1px solid #FFF6F9;
    padding: 9px 25px 9px 25px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #FF3E41;
    text-align: center;

}


@media only screen and (max-width: 1385px){
    .nav__item_jamiyat_tuzilma {
        margin: 0 auto;
        width: 160px;
        height: 105px;
        border: 1px solid rgba(228, 229, 232, 1);
        border-radius: 20px;
        padding-left: 20px;
        padding-top: 20px;
        box-shadow: 0px 2px 18px 0px rgba(24, 25, 28, 0.1);
}
.nav__item_jamiyat_tuzilma img{
    width: 34px;
    height: 34px;

}
.nav__title_jamiyat1 {
    font-weight: 700;
    font-size: 10px;
    line-height:10px;
    color: black;
}

.nav__title_jamiyat2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #767F8C;
}
.navbar_jamiyat img{
    width: 16px;
    height: 16px;
}
.navbar_jamiyat{
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin-top: 5px;
}

.nav__list_jamiyat{

    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 800px;
    height: auto;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}
.nav__item_jamiyat_tuzilma{
    padding-left: 10px;
    padding-top: 10px;
}


}


@media only screen and (max-width: 840px){
    .nav__item_jamiyat_tuzilma {
        margin: 0 auto;
        width: 130px;
        height: 105px;
        border: 1px solid rgba(228, 229, 232, 1);
        border-radius: 20px;
        padding-left: 10px;
        padding-top: 20px;
        box-shadow: 0px 2px 18px 0px rgba(24, 25, 28, 0.1);
}
.nav__item_jamiyat_tuzilma img{
    width: 30px;
    height: 30px;

}
.nav__title_jamiyat1 {
    font-weight: 400;
    font-size: 10px;
    line-height:10px;
    color: black;
}

.nav__title_jamiyat2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #767F8C;
}
.navbar_jamiyat img{
    width: 16px;
    height: 16px;
}
.navbar_jamiyat{
    display: flex;
    justify-content: space-between;
    width: 90px !important;
}

.nav__list_jamiyat{

    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 700px;
    height: auto;
    padding-left: 0;
    margin: 0 auto;
}
.nav__item_jamiyat_tuzilma{
    padding-left: 10px;
    padding-top: 10px;
}
.navbar_jamiyat img{
    width: 13px;
}


}

@media only screen and (max-width: 840px){
    .nav__item_jamiyat_tuzilma {
        margin: 0 auto;
        width: 110px;
        height: 90px;
        border: 1px solid rgba(228, 229, 232, 1);
        border-radius: 20px;
        padding-left: 10px;
        padding-top: 20px;
        box-shadow: 0px 2px 18px 0px rgba(24, 25, 28, 0.1);
}
.nav__item_jamiyat_tuzilma img{
    width: 30px;
    height: 30px;

}
.nav__title_jamiyat1 {
    font-weight: 500;
    font-size: 12px;
    line-height:10px;
    color: black;
}

.nav__title_jamiyat2 {
    font-weight: 400;
    font-size: 10px ;
    line-height: 20px;
    color: #767F8C;
}
.navbar_jamiyat img{
    width: 16px;
    height: 16px;
}
.navbar_jamiyat{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.nav__list_jamiyat{

    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: auto;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.nav__item_jamiyat_tuzilma{
    padding-left: 10px;
    padding-top: 10px;
    height: 100px;
    width: 120px;
}
.navbar_jamiyat img{
    width: 13px;
}


}

@media only screen and (max-width: 340px){
    .nav__item_jamiyat_tuzilma {
        margin: 0 auto;
        width: 110px;
        height: 90px;
        border: 1px solid rgba(228, 229, 232, 1);
        border-radius: 20px;
        padding-left: 10px;
        padding-top: 20px;
        box-shadow: 0px 2px 18px 0px rgba(24, 25, 28, 0.1);
}
.nav__item_jamiyat_tuzilma img{
    width: 30px;
    height: 30px;

}
.nav__title_jamiyat1 {
    font-weight: 500;
    font-size: 12px;
    line-height:10px;
    color: black;
}

.nav__title_jamiyat2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #767F8C;
}
.navbar_jamiyat img{
    width: 16px;
    height: 16px;
}
.navbar_jamiyat{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.nav__list_jamiyat {

    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 260px;
    height: auto;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}
.nav__item_jamiyat_tuzilma{
    padding-left: 10px;
    padding-top: 10px;
}
.navbar_jamiyat img{
    width: 13px;
}


}
